<%# Write your code here! %>
<%# h1 for text use the squid to interpolate the result given by params wich is equal to the result of the users input ie: text (in the form of a hash)%>
<h1>Hi <%=params[:user_name] %>, nice to meet you!</h1>
