
<h3> Welcome!</h3>
<h1> If you tell me your name, I can say hi!</h1>
<h1>The form name attribute</h1>

<form name="myForm" action="/greet" method="POST">
  <label for="user_name">name:</label>
  <input type="text" id="user_name" name="user_name">
  <input type="submit" value="Submit">
</form>
